@import 'index';

nav {
  display: flex;
  flex-grow: 1;
  height: 100%;
  align-items: center;
  font-size: 0.95rem;
  a {
    color: $gray-600;
    margin: 0 0.25rem;
    &:hover {
      text-decoration: none;
      color: $gray-200;
    }
  }
}
