@import '../../styles/index';

:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: url('/assets/seamless_dark.png');
  background-color: $gray-900;

  .body {
    flex-grow: 1;
  }
}
